@charset "utf-8";
/*网页版权部分开始*/
.footer_top{
	width:100%px;
	margin:auto;
	clear:both;
	text-align:center;}
.footer_top{color:#9B2B0F;}
.footer_dull_red,.footer_dull_red:hover{
	color:#9B2B0F;
	margin:0px 8px 0px 8px;}
/*网页版权部分结束*/



/*网页头部*/
.header_top,.header_middle,.header_search{
	margin-left:auto;
	margin-left:auto;
	width:100%;
	clear:both;
	font-size:small;}
.header_top{
	background-repeat: repeat-x;
	height: 35px;
	background-color: #CF9;
}
.header_top_left{
	margin-top: 1%;
	float: left;
	width: 25%;
	text-align: left;
	font-size: smaller;
	font-weight: normal;
	color: #F99;
	text-decoration: none;
	}
.header_top_right{
	margin-top: 1%;
	float: right;
	margin-right:1%;
	width: 70%;
	padding-right: 0.5%;
	text-align: right;
	font-size: smaller;
}
.header_top_right li{
	float: right;
	margin-left: 2%;
	color: #F66;
}
.logo,.menu_left,.menu_right{
	float:left;}
.logo{
	width:10%;
	padding-top:2%;
	height:5%;}
/*网页头部结束*/
