<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.panda.myapplication">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STTE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- BmobSDK所需的权限 -->

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 富媒体需要声明的权限 -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CUFE_TRIP"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ATpiRlIlMRdL6NIlEhce1bod4tXWxqip" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5802606b67e58e4122002464" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="c98024a819f30b945da6d678ca0354e6" />

        <activity
            android:name=".initiateActivity"
            android:label="CUFE_TRIP"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="设置" />
        <activity
            android:name=".LoginActivity"
            android:label="登录"
            android:screenOrientation="portrait" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="CUFE_TRIP"
            android:logo="@mipmap/ic_launcher" />
        <activity
            android:name=".enroll"
            android:label="报名" />
        <activity
            android:name=".Line"
            android:label="路线" />
        <activity android:name=".start" />
        <activity android:name=".Route" />
        <activity android:name=".Progress" />
        <activity
            android:name=".search.RoutePlanDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_route"
            android:screenOrientation="portrait" />
        <activity
            android:name=".search.GeoCoderDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_geocode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".search.BusLineSearchDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_bus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".search.DistrictSearchDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_districsearch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".search.PoiSearchDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_poi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".search.ShareDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_share"
            android:screenOrientation="portrait" />
        <activity
            android:name=".search.ShareDemoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_share"
            android:screenOrientation="portrait" />

        <service
            android:name=".database"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".TempActivity" />
        <activity android:name=".Mine"></activity>
    </application>

</manifest>